<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                    <b>
                        <h2>{{slider.label}}</h2>
                        <p>{{slider.text}}</p>
                    </b>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
     <div class="dashboard-containter">
                        
            <a data-mce-href="http://www.yourstory.com" href="http://www.yourstory.com" target="_blank" title="YourStory"><img src="assets/images/YourStory_Transparent-1.png" alt="" width="177" height="82"></a>
            <br>
            <span>
            YourStory is India’s no. 1 media technology platform for entrepreneurs, dedicated to championing and promoting India’s entrepreneurial ecosystem. Founded in 2008, the YourStory network reaches more than 10 million active business readers and clocks more than 20 million pageviews each month. </span>
            <a title="Taasha Yourstory" href="https://yourstory.com/2017/02/starting-up-age-50-entrepreneur-myths-around-age-bar-start-startup/" target="_blank" data-mce-href="https://yourstory.com/2017/02/starting-up-age-50-entrepreneur-myths-around-age-bar-start-startup/">READ OURSTORY</a>
        
     
    <hr />
    
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <h3>AS PART OF OUR PROMISE TO YOU, WE WILL: </h3>
                <div class="list-5a8e7629be710  md-align-left list-shortcode">
                <ul>                                
                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Provide full transparency </p>
                    </li>
    
                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Take full responsibility for the work we undertake</p>
                    </li>
    
                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Provide honest, expert advice based on our years of experience</p>
                    </li>

                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Help reduce risks in your business</p>
                    </li>

                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Introduce consistency into your business model</p>
                    </li>
                 
                    <li>
                                <span class="icon-Compose2"></span>
                               <p>Reduce operational &amp; recruitment costs</p>
                    </li>

                    <li>
                            <span class="icon-Compose2"></span>
                            <p>Add value to your business</p>
                    </li>
                </ul>   
             </div>

        </div>
        <div class="col-xl-6 col-lg-6" style="background-image: url(http://taasha.tech/wp-content/uploads/2016/11/it-outsourcing-21-2.jpg);background-size: cover;">
           
        </div>
        
    </div>
    <hr />
    </div>
</div>
